Repository buli4ka/BlogClient: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

Written Regular expressions for user input
  src/api/auth.js
  src/constants/notifications.js
  src/constants/user.js
  src/store/user-slice.js
  src/utils/user-validation.js
Due: prettier --write, eslint --fix

Added Router, Loader, Token Renewing
  package.json
  src/app.jsx
  src/components-ui/loader/index.js
  src/components-ui/loader/loader.jsx
  src/components-ui/loader/loader.module.css
  src/components-ui/loader/loader.spec.jsx
  src/components/NavBar/NavBar.jsx
  src/constants/routes.js
  src/pages/MainPage/MainPage.jsx
  src/pages/MainPage/MainPage.module.css
  src/pages/ProfilePage/Profile.jsx
  src/router.jsx
  src/store/user-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

Start of navbar, should make auth modal
  package.json
Due: none

added profile and add post page todo their functionality and better view
  src/app.jsx
  src/components-ui/multiple-image-input/multiple-image-input.jsx
  src/components-ui/multiple-image-input/multiple-image-input.module.css
  src/components-ui/user-icon-input/user-icon-input.jsx
  src/components-ui/user-icon-input/user-icon-input.module.css
  src/components/login-modal/login-modal.jsx
  src/components/navbar/nav-components/nav-button/nav-button.jsx
  src/components/navbar/navbar.jsx
  src/components/navbar/navbar.module.css
  src/components/post-card/post-card.jsx
  src/components/post-card/post-card.module.css
  src/components/post-list/post-list.module.css
  src/components/profile-user-info/ profile-user-info.jsx
  src/components/profile-user-info/profile-user-info.module.css
  src/components/root-notification/root-notification.module.css
  src/components/user-info/user-info.jsx
  src/components/user-info/user-info.module.css
  src/constants/routes.js
  src/constants/time.js
  src/index.css
  src/pages/ProfilePage/Profile.jsx
  src/pages/create-post-page/create-post-page.jsx
  src/pages/create-post-page/create-post-page.module.css
  src/pages/profile-page/profile-page.jsx
  src/router.jsx
  src/store/user-slice.js
  src/utils/normalize-date.js
Due: prettier --write, stylelint --fix, eslint --fix

added package-lock.json
  package-lock.json
Due: none

Full functional add post page
  src/api/post-api.js
  src/components-ui/textarea/textarea.module.css
  src/components/modals/auth-modal/auth-modal-components/auth-condition-form.jsx
  src/components/modals/post-detail-modal/post-detail-modal.jsx
  src/components/modals/post-detail-modal/post-detail-modal.module.css
  src/components/modals/update-user-modal/update-user-modal.jsx
  src/components/modals/update-user-modal/update-user-modal.module.css
  src/components/post-card/post-card.jsx
  src/components/post-card/post-card.module.css
  src/constants/modals.js
  src/pages/create-post-page/create-post-page.jsx
  src/pages/create-post-page/create-post-page.module.css
  src/store/index.js
  src/store/post-slice.js
  src/store/post.slice.js
  src/utils/getImageBody.js
Due: prettier --write, stylelint --fix, eslint --fix

development of detail post
  src/api/post-api.js
  src/components-ui/gallery/gallery.jsx
  src/components-ui/multiple-image-input/multiple-image-input.module.css
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/components/modals/post-detail-modal/details/post-details.module.css
  src/components/modals/post-detail-modal/post-detail-modal.jsx
  src/components/modals/post-detail-modal/post-detail-modal.module.css
  src/components/modals/root-modal/root-modal.jsx
  src/components/post-card/post-card.jsx
  src/store/modal-slice.js
  src/store/user-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

added like and subscribe handlers
  src/api/post-api.js
  src/api/user-api.js
  src/assets/icons/NoImage.png
  src/assets/icons/NoImage34.png
  src/assets/icons/authorization.svg
  src/assets/icons/comment.svg
  src/assets/icons/craete-post.svg
  src/assets/icons/heart-red.svg
  src/assets/icons/heart.svg
  src/assets/icons/logo.svg
  src/assets/icons/logout.svg
  src/assets/icons/moon.svg
  src/assets/icons/sun.svg
  src/assets/icons/user-icon.svg
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/components/post-card/post-card.jsx
  src/components/profile-info/ profile-user-info.jsx
  src/components/profile-info/profile-author-info.jsx
  src/components/profile-info/profile-user-info.module.css
  src/constants/notifications.js
  src/constants/routes.js
  src/pages/author-profile-page/author-profile-page.jsx
  src/pages/author-profile-page/author-profile-page.module.css
  src/pages/liked-posts/liked-posts.jsx
  src/pages/profile-page/profile-page.jsx
  src/router.jsx
  src/store/post-slice.js
  src/store/user-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

Added subs pages
  src/components/profile-info/ profile-user-info.jsx
  src/components/profile-info/profile-author-info.jsx
  src/components/user-card/user-card.jsx
  src/components/user-card/user-card.module.css
  src/components/user-list/user-list.jsx
  src/components/user-list/user-list.module.css
  src/pages/subscribed-page/subscribed-page.jsx
  src/pages/subscribers-page/subscribers-page.jsx
  src/router.jsx
Due: prettier --write, stylelint --fix, eslint --fix

Added deletion functionality
  src/api/post-api.js
  src/components/post-card/post-card.jsx
  src/components/post-card/post-card.module.css
  src/store/post-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

Added 2 icons
  src/assets/icons/closed-bin.svg
  src/assets/icons/opened-bin.svg
Due: none

Added 2 icons
  src/components/navbar/navbar.module.css
Due: stylelint --fix

a few bug fixes
  src/components/navbar/navbar.jsx
  src/components/post-card/post-card.jsx
  src/components/profile-info/profile-author-info.jsx
  src/store/user-slice.js
Due: prettier --write, eslint --fix

added post editing
  src/api/base-query.js
  src/api/post-api.js
  src/app.jsx
  src/assets/icons/edit.svg
  src/components-ui/multiple-image-input/multiple-image-input.jsx
  src/components-ui/user-icon-input/user-icon-input.jsx
  src/components/modals/auth-modal/auth-modal.module.css
  src/components/post-card/post-card.jsx
  src/components/profile-info/ profile-user-info.jsx
  src/components/profile-info/profile-user-info.module.css
  src/components/user-card/user-card.jsx
  src/index.css
  src/pages/create-post-page/create-post-page.jsx
  src/store/post-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

added post editing
  src/pages/profile-page/profile-page.jsx
Due: prettier --write, eslint --fix

added User editing
  package-lock.json
  src/api/user-api.js
  src/components-ui/checkbox/checkbox.jsx
  src/components-ui/checkbox/checkbox.module.css
  src/components-ui/user-icon-input/user-icon-input.jsx
  src/components/modals/root-modal/root-modal.jsx
  src/components/modals/update-user-modal/update-modal-container/update-modal-container.jsx
  src/components/modals/update-user-modal/update-modal-container/update-modal-container.module.css
  src/components/modals/update-user-modal/update-user-modal.jsx
  src/components/profile-info/ profile-user-info.jsx
  src/components/profile-info/profile-user-info.module.css
  src/constants/modals.js
  src/constants/notifications.js
  src/pages/profile-page/profile-page.jsx
  src/store/user-slice.js
  src/utils/getImageBody.js
  src/utils/user-request.js
  src/utils/user-validation.js
Due: prettier --write, stylelint --fix, eslint --fix

Fixed route to profile
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/router.jsx
Due: prettier --write, eslint --fix

a bit refactored added refetching made possible to add image in registration
  src/api/post-api.js
  src/api/user-api.js
  src/components/modals/auth-modal/auth-modal-components/auth-condition-form.jsx
  src/components/modals/auth-modal/auth-modal-components/auth-condition-form.module.css
  src/components/post-card/post-card.jsx
  src/components/profile-image/profile-image.jsx
  src/components/profile-image/profile-image.module.css
  src/components/profile-info/profile-author-info.jsx
  src/components/profile-info/profile-user-info.module.css
  src/components/user-info/user-info.jsx
  src/pages/author-profile-page/author-profile-page.jsx
  src/pages/author-profile-page/author-profile-page.module.css
  src/pages/liked-posts/liked-posts.jsx
  src/pages/profile-page/profile-info/ profile-user-info.jsx
  src/pages/profile-page/profile-info/profile-author-info.jsx
  src/pages/profile-page/profile-info/profile-user-info.module.css
  src/pages/profile-page/profile-page.jsx
  src/store/user-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

more beautifull, new authorization
  .idea/.gitignore
  .idea/blog.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
  src/api/user-api.js
  src/components-ui/checkbox/checkbox.module.css
  src/components-ui/multiple-image-input/multiple-image-input.jsx
  src/components-ui/slideshow/slideshow.jsx
  src/components-ui/slideshow/slideshow.module.css
  src/components/modals/modal/modal.jsx
  src/components/modals/modal/modal.module.css
  src/components/modals/modal/modal.spec.js
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/components/modals/post-detail-modal/details/post-details.module.css
  src/components/modals/root-modal/root-modal.jsx
  src/components/navbar/navbar.jsx
  src/components/profile-image/profile-image.module.css
  src/components/root-notification/root-notification.jsx
  src/components/user-info/user-info.jsx
  src/components/user-info/user-info.module.css
  src/constants/routes.js
  src/constants/time.js
  src/index.css
  src/pages/auth-page/auth-page.jsx
  src/pages/auth-page/auth-page.module.css
  src/pages/auth-page/components/login/login.jsx
  src/pages/auth-page/components/login/login.module.css
  src/pages/auth-page/components/registration/registration.jsx
  src/pages/auth-page/components/registration/registration.module.css
  src/router.jsx
  src/store/index.js
  src/store/user-slice.js
  src/utils/normalize-date.js
  src/utils/user-validation.js
Due: prettier --write, stylelint --fix, eslint --fix

style
  src/components/modals/post-detail-modal/details/post-details.module.css
  src/components/profile-image/profile-image.module.css
  src/components/user-card/user-card.module.css
  src/pages/profile-page/profile-info/profile-user-info.module.css
Due: stylelint --fix

Add comments actions
  .stylelintrc.js
  src/api/post-api.js
  src/assets/icons/arrow-up.svg
  src/assets/icons/reply-arrow.svg
  src/components/comment-list/add-comment/add-comment.jsx
  src/components/comment-list/add-comment/add-comment.module.css
  src/components/comment-list/comment-list.jsx
  src/components/comment-list/comment-list.module.css
  src/components/comment-list/comment/comment.jsx
  src/components/comment-list/comment/comment.module.css
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/components/modals/post-detail-modal/post-detail-modal.jsx
  src/constants/notifications.js
  src/store/index.js
  src/store/post-slice.js
  src/store/user-slice.js
Due: prettier --write, stylelint --fix, eslint --fix

Like indicator
  src/components/comment-list/comment-list.jsx
  src/components/modals/post-detail-modal/details/post-details.jsx
  src/components/post-card/post-card.jsx
Due: prettier --write, eslint --fix

Fixed headers
  src/api/post-api.js
  src/api/user-api.js
  src/components/post-card/post-card.jsx
  src/components/post-list/post-list.jsx
  src/pages/profile-page/profile-page.jsx
  src/store/post-slice.js
  src/store/user-slice.js
  src/utils/getImageBody.js
Due: prettier --write, eslint --fix

Handling subs Unauthorized exception
  src/pages/subscribed-page/subscribed-page.jsx
  src/pages/subscribers-page/subscribers-page.jsx
Due: prettier --write, eslint --fix

More beautiful subs list
  src/components/user-card/user-card.jsx
  src/components/user-card/user-card.module.css
Due: prettier --write, stylelint --fix, eslint --fix

Fix comment display
  src/components/comment-list/comment-list.jsx
Due: prettier --write, eslint --fix

start of chat
  src/assets/icons/chat.svg
  src/assets/icons/search-icon.svg
  src/components-ui/search/search.jsx
  src/components-ui/search/search.module.css
  src/components/navbar/navbar.jsx
  src/components/root-notification/root-notification.module.css
  src/constants/routes.js
  src/pages/chat-page/chat-page.jsx
  src/pages/chat-page/chat-page.module.css
  src/pages/chat-page/components/chat/chat.jsx
  src/pages/chat-page/components/chat/chat.module.css
  src/pages/chat-page/components/contacts/contacts.jsx
  src/pages/chat-page/components/contacts/contacts.module.css
  src/router.jsx
Due: prettier --write, stylelint --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,html}) or (any of: *.{js,jsx})
  stylelint --fix: any of: *.{css,scss}
  eslint --fix: any of: *.{js,jsx}
